.container {
    padding: 0 20px;

    max-width: 600px;
}

.weather-container {
    border: 5px solid black;
    background-color: lightblue;
    padding: 30px 50px;
    border-radius: 10px;
}

.sourceCode {
    margin: 100px 0;
}

.dropdown-toggle {
    border: thick;
}

h1 {
    font-size: 30px;
    text-align: center;
    opacity: 0.5;
    color: black;
    margin-top: 20px;
}

.search-bar {
    border: 15px thick black;
}

.form-control {
    border: 15px thick black;
    padding: 8px 2px;
    margin: 0 auto;
}

#box:hover {
    background-color: grey;
}

#box {
    background-color: #fad3d6;
}

.grid-container {
    text-align: center;
}

.temperature {
    font-size: 40px;
    font-weight: 700;
    position: relative;
    top: 10px;
}

.degrees-first {
    position: relative;
    bottom: 20px;
}

.degrees {
    opacity: 0.5;
}

hr {
    border: solid black;
    width: 85%;
    float: center;
    margin: auto;
}

.opacity {
    opacity: 0.5;
}
.gabby {
    width: 500px;
    margin-left: 15px;
    border-radius: 25em/20em;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    border: solid;
}
